# env.sample
VITE_ALGOD_URL=https://testnet-api.algonode.cloud
VITE_ALGOD_TOKEN=
VITE_NETWORK=TestNet

VITE_ROUTER_APP_ID=0
VITE_TICKET_ASA_ID=0

VITE_SUPERFAN_APP_ID=0
VITE_SUPERFAN_ADMIN_ADDR=

CREATOR_MNEMONIC="word1 word2 ... word25"
SELLER_MNEMONIC="word1 word2 ... word25"
BUYER_MNEMONIC="word1 word2 ... word25"
ADMIN_MNEMONIC="word1 word2 ... word25"

NEWBUYER_ADDR =
NEWBUYER_MNEMONIC =
